@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply text-xs px-3 py-2 rounded-full max-w-max border hover:shadow-lg active:scale-95 hover:bg-gray-100 cursor-pointer m-2 ml-0 select-none;
  }
}

div {
  @apply select-none;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #13ce66; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f9c4f; /* Color of the scrollbar thumb on hover */
}

/* Track when the scrollbar is active (being dragged) */
::-webkit-scrollbar-thumb:active {
  background: #17ee78; /* Color of the scrollbar thumb when active */
}
